<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntels.ccbs.charge.mapper.common.PrepayMapper">

	<insert id="insertPrepayOcc">
		INSERT INTO TBLPY_PREPAY_OCC
		(
			PREPAY_OCC_SEQ_NO
			, PYM_ACNT_ID
			, PREPAY_OCC_DTTM
			, PREPAY_OCC_TP
			, PREPAY_OCC_RESN
			, PREPAY_OCC_TGT_SEQ_NO
			, DPST_DT
<!-- 			, DPST_PROC_DTTM -->
			, DPST_PROC_DT
			, DPST_CL
			, PREPAY_PROC_STAT
			, PREPAY_OCC_AMT
			, PREPAY_TRANS_AMT
			, PREPAY_BAL
			, TRANS_CMPL_YN
			, WON_PREPAY_OCC_AMT
			, CRNCY_CD
			, EXRATE
			, EXRATE_APLY_DT
			, REGR_ID
			, REG_DATE
			, CNCL_YN
			, CNCL_DTTM
			, SO_ID
			, TRANS_DT
		)
		VALUES
		(
			#{prepayOcc.prepayOccSeqNo,jdbcType=VARCHAR}
			, #{prepayOcc.pymAcntId,jdbcType=VARCHAR}
			, #{prepayOcc.prepayOccDttm,jdbcType=VARCHAR}
			, #{prepayOcc.prepayOccTp,jdbcType=VARCHAR}
			, #{prepayOcc.prepayOccResn,jdbcType=VARCHAR}
			, #{prepayOcc.prepayOccTgtSeqNo,jdbcType=VARCHAR}
			, #{prepayOcc.dpstDt,jdbcType=VARCHAR}
<!-- 			, #{prepayOcc.dpstProcDttm,jdbcType=VARCHAR} -->
			, #{prepayOcc.dpstProcDt,jdbcType=VARCHAR}
			, #{prepayOcc.dpstCl,jdbcType=VARCHAR}
			, #{prepayOcc.prepayProcStat,jdbcType=VARCHAR}
			, #{prepayOcc.prepayOccAmt}
			, #{prepayOcc.prepayTransAmt}
			, #{prepayOcc.prepayBal}
			, #{prepayOcc.transCmplYn,jdbcType=VARCHAR}
			, #{prepayOcc.wonPrepayOccAmt}
			, #{prepayOcc.crncyCd,jdbcType=VARCHAR}
			, #{prepayOcc.exrate}
			, #{prepayOcc.exrateAplyDt,jdbcType=VARCHAR}
			, #{prepayOcc.regrId,jdbcType=VARCHAR}
			, #{prepayOcc.regDate}
			, #{prepayOcc.cnclYn,jdbcType=VARCHAR}
			, #{prepayOcc.cnclDttm,jdbcType=VARCHAR}
			, #{prepayOcc.soId,jdbcType=VARCHAR}
			, #{prepayOcc.transDt,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updatePrepayTransHistoryCancel">
		UPDATE TBLPY_PREPAY_TRANS_HIST SET
		     CNCL_YN = 'Y'
		     , CNCL_DTTM = TO_CHAR( SYSDATE, 'YYYYMMDDHH24MISS' )
		     , PROC_MEMO = PROC_MEMO||'-'||'22'
		WHERE PREPAY_TRANS_SEQ_NO = #{prepayTransSeqNo}
	</update>
</mapper>